<section class="top-slide">
  <div class="top-slide-introduction">
    <h1 class="top-slide-theme fadein">お問い合わせ・よくある質問</h1>
    <div class="top-slide-introduction-container">
      <h2 class="top-slide-title fadein">卸販売からオリジナルカレー開発まで<br>
        どんな質問・ご相談もお受けいたします
      </h2>
      <div class="top-slide-text fadein">
        <p>
          弊社商品に関するご質問、オリジナルカレー開発のご相談まで幅広く対応いたしております。
          これまで培ったノウハウ、ネットワークを元に最大限の対応をさせていただきます。まずはお気軽にお問い合わせください。
        </p>
      </div>
    </div>
  </div>
</section>

<section class="faq" id="faq">
  <div class="title faq-title fadein">
    <h1>よくある質問<br>
      <span class="sub-title">- F & A -</span>
    </h1>
  </div>
  <div class="question-list-container">
    <ul class="question-list">
      <li class="question-common">
        <div class="question-list-q bg-beige fadein" onclick="openAnswer(this)">見積もりに費用はかかりますか？
          <span class="material-icons-outlined">add</span>            
        </div>
        <div class="question-list-a" onclick="closeAnswer(this)">ご契約まで費用はかかりません。ご相談・概算お見積もりは無料ですので、お気軽にご連絡ください。
          <span class="material-icons-outlined">remove</span>
        </div>
      </li>
      <li class="question-common">
        <div class="question-list-q bg-orange fadein" onclick="openAnswer(this)">どんな製品を作ることができますか？
          <span class="material-icons-outlined">add</span>
        </div>
        <div class="question-list-a" onclick="closeAnswer(this)">当社はレトルトカレー専門のOEM・PB企画開発会社です。オリジナルのレトルトカレーを、企画から販売までサポートいたします。
          <span class="material-icons-outlined">remove</span>
        </div>
      </li>
      <li class="question-common">
        <div class="question-list-q bg-beige fadein" onclick="openAnswer(this)">依頼から商品化まで、どれくらいかかりますか？
          <span class="material-icons-outlined">add</span>
        </div>
        <div class="question-list-a" onclick="closeAnswer(this)">打ち合わせから7日ほどで試作品をお作りし、スムーズに行けば45日ほどで商品化となります。お急ぎの場合もご相談に応じますので、ご連絡ください。
          <span class="material-icons-outlined">remove</span>
        </div>
      </li>
      <li class="question-common">
        <div class="question-list-q bg-orange fadein" onclick="openAnswer(this)">打ち合わせの際、何を用意すれば良いですか？
          <span class="material-icons-outlined">add</span>
        </div>
        <div class="question-list-a" onclick="closeAnswer(this)">ご用意いただくものはございません。原料に使いたい素材があれば、お持ちください。まずは、商品をお作りになる目的やイメージからお伺いいたします。
          <span class="material-icons-outlined">remove</span>
        </div>
      </li>
      <li class="question-common">
        <div class="question-list-q bg-beige fadein" onclick="openAnswer(this)">賞味期限はどのくらい持ちますか？
          <span class="material-icons-outlined">add</span>
        </div>
        <div class="question-list-a" onclick="closeAnswer(this)">常温で2年ほど持ちます。レトルトカレーは賞味期限の長い食品ですので、利便性に優れています。
          <span class="material-icons-outlined">remove</span>
        </div>
      </li>
      <li class="question-common">
        <div class="question-list-q bg-orange fadein" onclick="openAnswer(this)">製品について、どこまで指定できますか？
          <span class="material-icons-outlined">add</span>
        </div>
        <div class="question-list-a" onclick="closeAnswer(this)">外箱のデザインや原料、味など、詳細までご相談しながら決めていきます。「お任せで」ということであれば、ご提案もいたします。
          <span class="material-icons-outlined">remove</span>
        </div>
      </li>
    </ul>
  </div>
</section>

<section class="contact-form" id="contactForm">
  <div class="title contact—form-title fadein">
    <h1>お問い合わせはこちらから<br>
      <span class="sub-title">- Contact Form -</span>
    </h1>
  </div>
  <form class="contact-form-container">
    <ul class="fontact-form-list">
      <li class="contact-form-item fadein">
        <label for="name">お名前</label>
        <input type="text" id="name" name="name" placeholder="山田 花子">
      </li>
      <li class="contact-form-item fadein">
        <label for="company">会社名</label>
        <input type="text" id="company" name="company" placeholder="株式会社化ミッション">
      </li>
      <li class="contact-form-item fadein">
        <label for="e-mail">メールアドレス</label>
        <input type="text" id="e-mail" name="email" placeholder="mission@email.com">
      </li>
      <li class="contact-form-item fadein">
        <label for="tel">電話番号</label>
        <input type="text" id="tel" name="tel" placeholder="00-0000-0000">
      </li>
      <li class="contact-form-item fadein">
        <label for="tel">FAX</label>
        <input type="text" id=“fax” name=“fax” placeholder="00-0000-0000">
      </li>
      <li class="contact-form-item fadein">
        <label for="content">お問い合わせ内容</label>
        <textarea name="content" id="content" cols="30" rows="10" placeholder="お問い合わせの内容を記入してください。"></textarea>
      </li>
    </ul>
    <button class="submit-btn button fadein" type="submit">送信する</button>
  </form>
</section>