<footer class="footer">
  <div class="footer-container">
    <div class="footer-icons flex">
      <div class="footer-logo"></div>
      <div class="sns-icons flex">
        <a href="#" class="icon
        icon-size icon-twitter"></a> 
        <a href="#" class="icon icon-insta"></a> 
        <a href="#" class="icon icon-facebook"></a> 
      </div>
    </div>
    <div class="footer-menu flex">
      <div class="footer-address">
        <div>〇〇市××区△△町11-11</div>
        <div>00-0000-0000</div>
      </div>
      <nav>
        <ul class="menu">
          <li class="menu-list-f"><a class="menu-link" href="#">商品一覧</a></li>
          <li class="menu-list-f"><a class="menu-link" href="service.html">レトルトカレーOEM開発</a></li>
          <li class="menu-list-f"><a class="menu-link" href="contact.html#FAQ">よくある質問</a></li>
          <li class="menu-list-f"><a class="menu-link" href="company.html">会社案内</a></li>
        </ul>
      </nav>
    </div>
    <div class="copylight">©️ 2022 mission</div>
  </div>
</footer>