<header class="header">
  <div class="header-menu flex">
    <div class="header-logo"></div>
    <nav>
      <ul class="menu">
        <li class="menu-list-h"><a class="menu-link" href="#">商品一覧</a></li>
        <li class="menu-list-h"><a class="menu-link" href="service.html">レトルトカレーOEM開発</a></li>
        <li class="menu-list-h"><a class="menu-link" href="contact.html#FAQ">よくある質問</a></li>
        <li class="menu-list-h"><a class="menu-link" href="company.html">会社案内</a></li>
      </ul>
    </nav> 
    <a class="header-link-area" href="contact.html#contactForm">お問い合わせ
      <span
       class="material-icons-outlined">
        email
      </span>
    </a>
    <div class="sp-menu">
      <span class="material-icons" id="open">menu</span>
    </div>
  </div>
  <div class="overlay">
    <span class="material-icons" id="close">close</span>
    <nav>
      <ul class="overlay-menu">
        <li class="overlay-list"><a class="overlay-link" href="#">商品一覧</a></li>
        <li class="overlay-list"><a class="overlay-link" href="service.html">レトルトカレーOEM開発</a></li>
        <li class="overlay-list"><a class="overlay-link" href="contact.html#FAQ">よくある質問</a></li>
        <li class="overlay-list"><a class="overlay-link" href="company.html">会社案内</a></li>
        <li class="overlay-list"><a class="overlay-link" href="company.html">お問い合わせ</a></li>
      </ul>
    </nav>
  </div>
</header>
