<!DOCTYPE html>
<html lang="ja">
<% include _head, {pass:css/company.css} %>
<body>
  <% include _header %>
  <main>
    <% include _company %>
    <% include _contact %>
  </main>
  <% include _footer %>
  <script src="./js/main.js"></script>
</body>
</html>