<!DOCTYPE html>
<html lang="ja">
  <%- include('_head' , {pass:'./css/contact-form.css'}) %>
<body>
  <%- include('_header') %>
  <main>
    <%- include('_contact-form') %>
  </main>
  <%- include('_footer') %>
  <script src="./js/main.js"></script>
</body>
</html>