// TOPページの見出しh1タグのレイアウト
.title {
  text-align: center;
  margin: 0 auto 50px;
}

// 日本語見出し(h1)下の英語サブ(spanタグ)
.sub-title {
  margin-top: 10px;
  font-size: $font-size-40;
}


// ulタグ
.menu {
  padding: 40px 0;
  margin-top: 50px;
  margin-left: 150px;
  display: flex;
  // liタグ
  &-list-h {
    margin-right: 90px;
  }
  &-list-f {
    margin-right: 70px;
  }
  // aタグ
  &-link {
    position: relative;
    font-size: $font-size-30;
    color: $font-color-white;
    &::after {
      position :absolute;
      bottom: 5px;
      left: 0;
      content: '';
      width: 100%;
      height: 3px;
      background: $bgclr-orange;
      opacity: 0;
      visibility: hidden;
      transition: 1s;
    }
    &:hover::after {
      bottom: -7px;
      opacity: 1;
      visibility: visible;
    }
  }
}

// 要素を横並びにするためのクラス
.flex {
  display: flex;
}

// フォントサイズを指定すためのクラス
.font-size-xl {
  font-size: $font-size-60;
}
.font-size-l {
  font-size: $font-size-50;
}
.font-size-m {
  font-size: $font-size-40;
}
.font-size-base {
  font-size: $font-size-30;
}
.font-size-s {
  font-size: $font-size-25;
}
.font-size-xs {
  font-size: $font-size-20;
}

// 背景色を指定するためのクラス
.beige {
  background-color: $bgclr-beige;
}
.orange {
  background-color: $bgclr-orange;
}

// footerのsnsアイコンのサイズcss設定
.icon-size {
  width: 70px;
  height: 70px;
}


// ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
// レスポンシブ
// ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
@media (max-width: 1024px) {
  // ulタグ
  .menu {
    margin-left: 0;
    // liタグ
    &-list-h {
      margin-right: 50px;
    }
    &-list-f {
      margin-right: 40px;
    }
    // aタグ
    &-link {
      font-size: $font-size-25;
    }
  }
}

@media (max-width: 540px) {
  // TOPページの見出しh1タグのレイアウト
  .title {
    text-align: center;
    margin: 0 auto 30px;
    h1 {
      font-size: $font-size-40;
    }
  }
  // 日本語見出し(h1)下の英語サブ(spanタグ)
  .sub-title {
    font-size: $font-size-30;
  }
}