// ーーーーーーーーーーーーーーーーーーーーーー
// お問い合わせはこちらから
// ーーーーーーーーーーーーーーーーーーーーーー
.contact {
  height: 550px;
  padding: 100px 0;
  margin: 100px 0 200px;
  background: $bgclr-orange;
  text-align: center;
  div {
    font-size: $font-size-60;
    color: $font-color-white;
  }
}

// ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
// レスポンシブ
// ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
@media (max-width: 1024px) {
  .contact {
    height: 400px;
    padding: 50px 0;
    margin: 50px 0 100px;
  }
}

@media (max-width: 540px) {
  .contact {
    height: 200px;
    padding: 30px 0;
    margin: 30px 0 50px;
    div {
      font-size: $font-size-40;
    }
  }
}