.footer {
  padding: 60px 100px 20px;
  background-color: $bgclr-orange;
  &-icons {
    justify-content: space-between;
  }
  &-logo {
    width: 15%;
    height: auto;
    @include top-slide-layout("../img/logo.png");
  }
  &-menu {
    justify-content: space-between;
  }
  &-address {
    padding: 20px 0;
    font-size: $font-size-30;
    div {
      margin-bottom: 10px;
    }
  }
}

.menu-link {
  &::after {
    position :absolute;
    bottom: 5px;
    left: 0;
    content: '';
    width: 100%;
    height: 3px;
    background: $bgclr-brown;
  }
}

.sns-icons {
  width: 50%;
  height: 120px;
  justify-content: space-around;
}

.icon {
  width: 70px;
  height: 70px;
  margin: auto 0;
  &-twitter {
    @include top-slide-layout("../img/sns-icon-twitter.png");
  }
  &-insta {
    @include top-slide-layout("../img/sns-icon-insta.png");
  }
  &-facebook {
    @include top-slide-layout("../img/sns-icon-facebook.png");
  }
}

.copylight {
  margin-top: 60px;
  font-size: $font-size-25;
  text-align: center;
}


// ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
// レスポンシブ
// ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
@media (max-width: 1024px) {
  .footer {
    padding: 40px 60px 20px;
    &-address {
      font-size: $font-size-25;
    }
  }
  .menu {
    margin-top: 30px;
  }
  .sns-icons {
    height: 100px;
  }
  .icon {
    width: 60px;
    height: 60px;
  }
  .copylight {
    margin-top: 40px;
  }
}

@media (max-width: 540px) {
  .footer {
    padding: 20px 40px;
    &-address {
      font-size: $font-size-20;
    }
  }
  .menu {
    padding: 0 20px;
    margin-top: 20px;
    flex-direction: column;
    &-list-f {
      margin-right: 0;
      margin-bottom: 20px;
      font-size: $font-size-20;
    }
  }
  .sns-icons {
    height: 50px;
    padding: 0 20px;
  }
  .icon {
    width: 40px;
    height: 40px;
  }
  .copylight {
    margin-top: 20px;
  }
}