@import "variable.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  color: $font-color-base;
}

h1 {
  font-size: $font-size-60;
  span {
    font-size: $font-size-40;
  }
}

h2 {
  font-size: $font-size-40;
}

h3 {
  font-size: $font-size-40;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  color: $font-color-base;
}

