@import "variable.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  color: $font-color-base;
}

h1 {
  font-size: $font-size-60;
}

h2 {
  font-size: $font-size-40;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  color: $font-color-base;
}

input, textarea {
  width: 70%;
  padding: 10px;
  background: #fff;
  color: $font-color-base;
  text-align: left;
}
