@import "variable.scss";


// ーーーーーーーーーーーーーーーーーーーーー
// 茶色いボタン部品
// ーーーーーーーーーーーーーーーーーーーーー

// ボタンのベースデザイン
%button-base {
  border: 1px solid $font-color-base;
  background-color: $bgclr-brown;
  color: $font-color-white;
  transition: all .5s; 
  &:hover {
    background-color: #fff;
    color: $font-color-base;
    transition: all .5s; 
  } 
}

// サイト全体で使うボタンのデザイン
.button {
  @extend %button-base;
  border-radius: 40px;
  padding: 50px 170px;
  margin: 120px auto;
  font-size: $font-size-40;
  // TOPページの「わたしたちに出来ること」で使用する小さめボタン
  &-small {
    @extend %button-base;
    border-radius: 30px;
    padding: 30px 70px;
    margin-right: 0;
    margin-left: auto;
    font-size: $font-size-30;
  }
}

