// ーーーーーーーーーーーーーーーーーーーーーーー
// お問い合わせはこちらから
// ーーーーーーーーーーーーーーーーーーーーーーー
.contact {
  height: 550px;
  padding: 100px 0;
  margin-bottom: 200px;
  background: $bgclr-orange;
  text-align: center;
  p {
    font-size: $font-size-60;
    color: $font-color-white;
  }
}
