@import "base.scss";
@import "utility.scss";
@import "variable.scss";
@import "mixin.scss";

.footer {
  padding: 60px 100px 20px;
  background-color: $bgclr-orange;
  &-icons {
    justify-content: space-between;
  }
  &-logo {
    width: 15%;
    height: auto;
    @include top-slide-layout("../../img/logo.png");
  }
  &-menu {
    justify-content: space-between;
  }
  &-address {
    padding: 20px 0;
    font-size: $font-size-30;
    div {
      margin-bottom: 10px;
    }
  }
}

.sns-icons {
  width: 50%;
  height: 120px;
  justify-content: space-around;
}

.icon {
  width: 70px;
  height: 70px;
  margin: auto 0;
  &-twitter {
    @include top-slide-layout("../../img/sns-icon-twitter.png");
  }
  &-insta {
    @include top-slide-layout("../../img/sns-icon-insta.png");
  }
  &-facebook {
    @include top-slide-layout("../../img/sns-icon-facebook.png");
  }
}

.copylight {
  margin-top: 60px;
  font-size: $font-size-25;
  text-align: center;
}