@mixin top-slide-layout($image) {
  background-image: url($image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

@mixin position-num($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
  
}



