@import "variable.scss";

// TOPページの見出しh1タグのレイアウト
.title {
  text-align: center;
  margin: 0 auto 50px;
}

// 日本語見出し(h1)下の英語サブ(spanタグ)
.sub-title {
  margin-top: 10px;
  font-size: $font-size-40;
}


// ulタグ
.menu {
  padding: 40px 0;
  margin-top: 50px;
  margin-left: 150px;
  display: flex;
  // liタグ
  &-list-h {
    margin-right: 90px;
  }
  &-list-f {
    margin-right: 70px;
  }
  // aタグ
  &-link {
    position: relative;
    font-size: $font-size-30;
    color: $font-color-white;
    &::after {
      position :absolute;
      bottom: 5px;
      left: 0;
      content: '';
      width: 100%;
      height: 3px;
      background: $bgclr-orange;
      opacity: 0;
      visibility: hidden;
      transition: 1s;
    }
    &:hover::after {
      bottom: -7px;
      opacity: 1;
      visibility: visible;
    }
  }
}


// 要素を横並びにするためのクラス
.flex {
  display: flex;
}
