// サイトで使うフォントサイズの一覧
// $font-size-以降の数字はAdobeXD上のフォントサイズの数値
// Adobe：幅1920px, Mac：幅1280px = 1.5：1
// $font-size-60: 60px / 1.5 = 40px = 4rem
$font-size-20: 1.3rem;

$font-size-25: 1.6rem;

$font-size-30: 2rem;

$font-size-40: 2.6rem;

$font-size-50: 3.3rem;

$font-size-60: 4rem;



// サイトで使う文字色の一覧
$font-color-base: #724444;

$font-color-white: #fff; 

// サイトで使う背景色の一覧
$bgclr-orange: #FAA700;

$bgclr-beige: #FAE1B0;

$bgclr-ivory: #FFF6E5;

$bgclr-brown: #724444;

$bgclr-white: #fff;






