@import "base/*.scss";
@import "mixin/*.scss";
@import "module/*.scss";
@import "setting/*.scss";


// ーーーーーーーーーーーーーーーーーーー
// TOPスライドの部分
// ーーーーーーーーーーーーーーーーーーー
h2 {
  font-size: $font-size-50;
}

.top-slide {
  @include top-slide-layout("../../img/top-slide3.jpeg");
  @include position-num(relative, -160px, 0);
  width: 100%;
  height: 1070px;
  padding: 50px;
  z-index: -20;
  color: $font-color-white;
  &-introduction {
    @include position-num(absolute, 250px, 50px);
    width: 90%;
    height: 700px;
    &-container {
      width: 70%;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 50px 120px;
    }
  }
  &-theme {
    display: inline-block;
    border-bottom: 3px solid $bgclr-orange;
    color: $font-color-base;
  }
  &-title {
    margin-bottom: 50px;
  }
  &-text {
    font-size: $font-size-30;
    line-height: 2;
  }
}


// ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
// 代表者からのメッセージ
// ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
.ceo {
  &-introduction {
    @include position-num(relative, -50px, 0);
    color: $font-color-white;
    background-color: $bgclr-orange;
  }
  &-container { 
    width: 100%;
    padding: 40px 180px;
    display: flex;
    justify-content: space-between;
  }
  &-photo {
    @include top-slide-layout("../../img/suit_double_businessman.png");
    width: 25%;
    height: 770px;
  }
  &-message-container {
    width: 70%;
  }
  &-name-box {
    padding: 10px 20px;
    margin-bottom: 50px;
    color: $font-color-base;
  }
  &-position {
    margin-bottom: 30px;
  }
}
.text-box {
  line-height: 2;
  margin-bottom: 60px;
}


// ーーーーーーーーーーーーーーーーーーーーーーーーー
// 会社概要
// ーーーーーーーーーーーーーーーーーーーーーーーーー
td {
  border: 1px solid $font-color-base;
  padding: 50px 40px;
  margin: 0 5px 5px 0;
}

.outline {
  width: 90%;
  padding: 100px 20px;
  margin: 50px auto 100px;
  background-color: $bgclr-ivory; 
  &-list {
    width: 96%;
    margin: 0 auto;
    font-size: $font-size-40;
    &-item {
      width: 20%;
      margin-right: 5px;
    }
    &-content {
      width: 70%;
    }
  }
}


// ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
// アクセス
// ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
.access {
  padding: 100px 90px;
  background-color: $bgclr-beige;
  text-align: center;
  &-map {
    width: 100%;
  }
}

// ーーーーーーーーーーーーーーーーーーーーーーー
// レスポンシブ
// ーーーーーーーーーーーーーーーーーーーーーーー
@media (max-width: 1024px) {
  .top-slide {
    height: 900px;
    padding: 30px;
    &-introduction {
      height: 600px;
      &-container {
        padding: 50px 60px;
      }
    }
  }
  // ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
  // 代表者からのメッセージ
  // ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
  .ceo {
    &-container { 
      padding: 40px 100px;
    }
    &-name-box {
      padding: 10px 20px;
      margin-bottom: 50px;
    }
  }
  .text-box {
    padding: 0 20px;
  }
  // ーーーーーーーーーーーーーーーーーーーーーーーーー
  // 会社概要
  // ーーーーーーーーーーーーーーーーーーーーーーーーー
  td {
    padding: 40px 30px;
  }

  .outline {
    padding: 80px 20px;
    margin: 50px auto 100px;
    &-list {
      font-size: $font-size-30;
    }
  }
  // ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
  // アクセス
  // ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
  .access {
    padding: 80px 70px;  
  }
}

@media (max-width: 540px) {
  .top-slide {
    height: 500px;
    &-introduction {
      @include position-num(absolute, 160px, 30px);
      height: 300px;
      &-container {
        padding: 20px 10px 20px 70px;
      }
    }
    &-theme {
      font-size: $font-size-40;
    }
    &-title {
      margin-bottom: 30px;
      font-size: $font-size-30;
    }
    &-text {
      font-size: $font-size-25;
      line-height: 1;
    }
  }

  // ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
  // 代表者からのメッセージ
  // ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
  .ceo {
    &-introduction {
      @include position-num(relative, -80px, 0);
    }
    &-container { 
      padding: 20px 30px;
    }
    &-name-box {
      padding: 10px 20px;
      margin-bottom: 50px;
    }
    &-photo {
      width: 30%;
      height: 550px;
    }
    &-message-container {
      width: 65%;
    }
    &-name-box {
      padding: 10px;
      margin-bottom: 20px;
    }
    &-name {
      font-size: $font-size-40;
    }
    &-position {
      margin-bottom: 10px;
      font-size: $font-size-25;
    }
  }
  .text-box {
    padding: 0 10px;
    margin-bottom: 30px;
    line-height: 1.5;
    font-size: $font-size-25;
  }

  // ーーーーーーーーーーーーーーーーーーーーーーーーー
  // 会社概要
  // ーーーーーーーーーーーーーーーーーーーーーーーーー
  td {
    padding: 20px 10px;
  }

  .outline {
    padding: 40px 10px;
    margin: 0px auto 50px;
    &-list {
      font-size: $font-size-25;
    }
  }
  // ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
  // アクセス
  // ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
  .access {
    padding: 40px 20px;  
  }
}


