@import "reset.scss";
@import "base.scss";
@import "variable.scss";
@import "header.scss";
@import "contact.scss";
@import "footer.scss";
@import "utility.scss";
@import "mixin.scss";

// ーーーーーーーーーーーーーーーーーーー
// TOPスライドの部分
// ーーーーーーーーーーーーーーーーーーー
h2 {
  font-size: $font-size-50;
}

.top-slide {
  @include top-slide-layout("../../img/top-slide3.jpeg");
  @include position-num(relative, -160px, 0);
  width: 100%;
  height: 1070px;
  padding: 50px;
  z-index: -20;
  color: $font-color-white;
  &-introduction {
    @include position-num(absolute, 250px, 50px);
    width: 90%;
    height: 700px;
    &-container {
      width: 70%;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 50px 120px;
    }
  }
  &-theme {
    display: inline-block;
    border-bottom: 3px solid $bgclr-orange;
    color: $font-color-base;
  }
  &-title {
    margin-bottom: 50px;
  }
  &-text {
    font-size: $font-size-30;
    line-height: 2;
  }
}


// ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
// 代表者からのメッセージ
// ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
.ceo {
  &-introduction {
    @include position-num(relative, -50px, 0);
    color: $font-color-white;
    background-color: $bgclr-orange;
  }
  &-container { 
    width: 100%;
    padding: 40px 180px;
    display: flex;
    justify-content: space-between;
  }
  &-photo {
    @include top-slide-layout("../../img/suit_double_businessman.png");
    width: 25%;
    height: 770px;
  }
  &-message-container {
    width: 70%;
  }
  &-name-box {
    padding: 10px 20px;
    margin-bottom: 50px;
    color: $font-color-base;
  }
  &-position {
    margin-bottom: 30px;
  }
}
.text-box {
  line-height: 2;
  margin-bottom: 60px;
}


// ーーーーーーーーーーーーーーーーーーーーーーーーー
// 会社概要
// ーーーーーーーーーーーーーーーーーーーーーーーーー
td {
  border: 1px solid $font-color-base;
  padding: 50px 40px;
  margin: 0 5px 5px 0;
}

.outline {
  width: 90%;
  padding: 100px 20px;
  margin: 50px auto 100px;
  background-color: $bgclr-ivory; 
  &-list {
    width: 96%;
    margin: 0 auto;
    font-size: $font-size-40;
    &-item {
      width: 20%;
      margin-right: 5px;
    }
    &-content {
      width: 70%;
    }
  }
}


// ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
// アクセス
// ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
.access {
  padding: 100px 90px;
  background-color: $bgclr-beige;
  text-align: center;
  &-map {
    width: 100%;
  }
}



