@import "base/reset.scss";
@import "base/base.scss";
@import "mixin/*.scss";
@import "module/*.scss";
@import "setting/*.scss";


// ーーーーーーーーーーーーーーーーーーー
// TOPスライドの部分
// ーーーーーーーーーーーーーーーーーーー
h2 {
  font-size: $font-size-50;
}

.top-slide {
  @include top-slide-layout("../../img/top-slide4.jpeg");
  @include position-num(relative, -160px, 0);
  width: 100%;
  height: 1070px;
  padding: 50px;
  z-index: -20;
  color: $font-color-white;
  &-introduction {
    @include position-num(absolute, 250px, 50px);
    width: 90%;
    height: 700px;
    &-container {
      width: 70%;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 50px 120px;
    }
  }
  &-theme {
    display: inline-block;
    border-bottom: 3px solid $bgclr-orange;
  }
  &-title {
    margin-bottom: 50px;
  }
  &-text {
    font-size: $font-size-30;
    line-height: 2;
  }
}


// ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
// よくある質問
// ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
.faq {
  padding: 100px;
  background-color: $bgclr-ivory;
  .material-icons-outlined {
    vertical-align: middle;
    float: right;
  }
}
.question {
  &-list-container {
    .bg-beige {
      background-color: $bgclr-beige;
    }
    .bg-orange {
      background-color: $bgclr-orange;
    }
  }
  &-list {
    width: 97%;
    border: 1px solid $font-color-base;
    margin: 0 auto;
  }
  &-list-q {
    border: 1px solid $font-color-base;
    padding: 50px;
    margin: -1px;
    font-size: $font-size-40;
  }
  &-list-a {
    padding: 30px 50px;
    font-size: $font-size-20;
    display: none;
  }

}

.open {
  display: block;
  animation: 1s fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}


// ーーーーーーーーーーーーーーーーーーーーーーーーーー
// お問い合わせフォーム
// ーーーーーーーーーーーーーーーーーーーーーーーーーー
.contact-form {
  padding: 100px;
  margin: 100px 0 200px;
  background-color: $bgclr-orange;
  text-align: center;
  &-container {
    width: 90%;
    margin: 0 auto;
    color: $font-color-white;
  }
  &-item {
    padding: 30px 20px;
    font-size: $font-size-40;
    display: flex;
    justify-content: space-between;
  }  
}


// ーーーーーーーーーーーーーーーーーーーーーーー
// レスポンシブ
// ーーーーーーーーーーーーーーーーーーーーーーー
@media (max-width: 1024px) {
  .top-slide {
    height: 900px;
    padding: 30px;
    &-introduction {
      height: 600px;
      &-container {
        padding: 50px 60px;
      }
    }
  }
  // ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
  // よくある質問
  // ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
  .faq {
    padding: 80px;
  }
  .question {
    &-list-q {
      padding: 40px;
    }
    &-list-a {
      padding: 30px 40px;
    }
  }
  // ーーーーーーーーーーーーーーーーーーーーーーーーーー
  // お問い合わせフォーム
  // ーーーーーーーーーーーーーーーーーーーーーーーーーー
  .contact-form {
    padding: 80px 80px 30px;
    margin: 80px 0 150px;
    background-color: $bgclr-orange;
    &-item {
      padding: 25px 15px;
    }  
  }
}

@media (max-width: 540px) {
  .top-slide {
    height: 500px;
    &-introduction {
      @include position-num(absolute, 150px, 30px);
      height: 350px;
      &-container {
        padding: 20px 10px 20px 40px;
      }
    }
    &-theme {
      font-size: $font-size-40;
    }
    &-title {
      margin-bottom: 30px;
      font-size: $font-size-30;
    }
    &-text {
      font-size: $font-size-25;
      line-height: 1;
    }
  }
  // ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
  // よくある質問
  // ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
  .faq {
    position: relative;
    top: -100px;
    padding: 50px 30px;
  }
  .question {
    &-list-q {
      padding: 30px;
      font-size: $font-size-25;
    }
    &-list-a {
      padding: 10px 20px;
    }
  }
  // ーーーーーーーーーーーーーーーーーーーーーーーーーー
  // お問い合わせフォーム
  // ーーーーーーーーーーーーーーーーーーーーーーーーーー
  .contact-form {
    position: relative;
    top: -100px;
    padding: 50px 30px;
    margin: 40px 0 0;
    &-container {
      width: 100%;
    }
    &-item {
      padding: 20px 10px;
      font-size: $font-size-25;
      label {
        width: 30%;
        text-align: left;
      }
    }  
  }
}