@import "base/reset.scss";
@import "base/base.scss";
@import "mixin/*.scss";
@import "module/*.scss";
@import "setting/*.scss";



// ーーーーーーーーーーーーーーーーーーー
// TOPスライドの部分
// ーーーーーーーーーーーーーーーーーーー
h2 {
  font-size: $font-size-50;
}

.top-slide {
  @include top-slide-layout("../img/top-slide2.jpeg");
  @include position-num(relative, -160px, 0);
  width: 100%;
  height: 1070px;
  padding: 50px;
  z-index: -20;
  color: $font-color-white;
}

.top-slide {
  &-introduction {
    @include position-num(absolute, 250px, 50px);
    width: 90%;
    height: 700px;
    &-container {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 50px 120px;
    }
  }
  &-theme {
    display: inline-block;
    border-bottom: 3px solid $bgclr-orange;
  }
  &-title {
    margin-bottom: 50px;
  }
  &-text {
    font-size: $font-size-30;
    line-height: 2;
  }

}


// ーーーーーーーーーーーーーーーーーーーーーーーーー
// OEM開発について
// ーーーーーーーーーーーーーーーーーーーーーーーーー
.service {
  width: 100%;
  @include position-num(relative, -50px, 0);
  &-contents {
    margin-bottom: 50px;
  }
  &-image {
    width: 40%;
    height: 660px;
  }
  &-text {
    width: 60%;
    height: 660px;
    padding: 60px 70px;
    background-color: $bgclr-beige;
    &-title {
      margin-bottom: 100px;
    }
    &-box {
      width: 77%;
      font-size: $font-size-30;
      line-height: 2;
    }
  }
  &-contents-first {
    .service-image {
      @include top-slide-layout("../img/oem-service1.jpeg");
    }
  }
  &-contents-second {
    flex-direction: row-reverse;
    .service-image {
      @include top-slide-layout("../img/strong-point2.jpeg");
    }
  }
}


// ーーーーーーーーーーーーーーーーーーーーーーーーー
// わたしたちの強み
// ーーーーーーーーーーーーーーーーーーーーーーーーー
.strong-points {
  width: 90%;
  padding: 100px 100px 0;
  margin: 0 auto;
  background-color: $bgclr-ivory;
  &-title {
    margin: 100px 0 40px;
    text-align: center;
  }
  &-message {
    text-align: center;
    .message-text {
      margin-top: 70px;
      font-size: $font-size-30;
      line-height: 2;
    }
  }
}

.points {
  &-container {
    width: 100%;
    text-align: center;
    padding: 50px 0;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &-content {
    width: 48%;
    height: auto;
    padding: 40px;
    margin-bottom: 40px;
    background-color: #fff;
    &-title {
      margin-bottom: 50px;
    }
    .flex {
      padding: 20px;
      justify-content: space-between;
      .text {
        width: 45%;
        height: 200px;
        font-size: $font-size-20;
        line-height: 1.5;
        text-align: left;
      }
    }
  }
  &-image {
    width: 45%;
    height: auto;
    &-first {
      @include top-slide-layout("../img/strong-point1.jpeg");
    }
    &-second {
      @include top-slide-layout("../img/strong-point2.jpeg");
    }
    &-third {
      @include top-slide-layout("../img/strong-point3.jpeg");
    }
    &-fourth {
      @include top-slide-layout("../img/strong-point4.jpeg");
    }
  }
}


// ーーーーーーーーーーーーーーーーーーーーーー
// 開発の流れ
// ーーーーーーーーーーーーーーーーーーーーーー
.flow {
  width: 100%;
  padding: 100px;
  margin: 100px 0;
  background-color: $bgclr-beige;
  text-align: center;
  &-image-container {
    width: 100%;
    height: 500px;
    margin-top: 100px;
  }
  &-image {
    max-width: 100%;
  }
}


// ーーーーーーーーーーーーーーーーーーーーーーー
// レスポンシブ
// ーーーーーーーーーーーーーーーーーーーーーーー
@media (max-width: 1024px) {
  .top-slide {
    height: 900px;
    padding: 30px;
    &-introduction {
      height: 600px;
      &-container {
        padding: 50px 60px;
      }
    }
  }

  // ーーーーーーーーーーーーーーーーーーーーー
  // OEM開発について
  // ーーーーーーーーーーーーーーーーーーーーー
  .service {
    &-image {
      width: 40%;
      height: 500px;
    }
    &-text {
      height: 500px;
      padding: 40px;
      &-title {
        margin-bottom: 70px;
      }
      &-box {
        width: 90%;
      }
    }
  }

  // ーーーーーーーーーーーーーーーーーーーーーーーーー
  // わたしたちの強み
  // ーーーーーーーーーーーーーーーーーーーーーーーーー
  .strong-points {
    padding: 80px 50px 0;
    &-message {
      .message-text {
        margin-top: 50px;
      }
    }
  }
  .points {
    &-container {
      padding: 30px 0;
    }
    &-content {
      padding: 30px;
      margin-bottom: 30px;
      &-title {
        margin-bottom: 30px;
      }
      .flex {
        padding: 10px;
      }
    }
  }
  
  // ーーーーーーーーーーーーーーーーーーーーーー
  // 開発の流れ
  // ーーーーーーーーーーーーーーーーーーーーーー
  .flow {
    padding: 80px 60px;
    margin: 80px 0;
    &-image-container {
      height: 300px;
      margin-top: 50px;
    }
  }
}

@media (max-width: 540px) {
  .top-slide {
    height: 500px;
    &-introduction {
      @include position-num(absolute, 160px, 30px);
      height: 300px;
      &-container {
        padding: 20px 10px 20px 70px;
      }
    }
    &-theme {
      font-size: $font-size-40;
    }
    &-title {
      margin-bottom: 30px;
      font-size: $font-size-30;
    }
    &-text {
      font-size: $font-size-25;
      line-height: 1;
    }
  }

  // ーーーーーーーーーーーーーーーーーーーーー
  // OEM開発について
  // ーーーーーーーーーーーーーーーーーーーーー
  .service {
    &-contents {
      margin-bottom: 30px;
      flex-direction: column;
    }
    &-image {
      display: none;
    }
    &-text {
      width: 100%;
      height: 350px;
      padding: 40px;
      &-title {
        margin-bottom: 30px;
        font-size: $font-size-40;
      }
      &-box {
        width: 100%;
        font-size: $font-size-25;
      }
    }
  }

  // ーーーーーーーーーーーーーーーーーーーーーーーーー
  // わたしたちの強み
  // ーーーーーーーーーーーーーーーーーーーーーーーーー
  .strong-points {
    padding: 50px 30px;
    &-message {
      h2 {
        font-size: $font-size-40;
        width: 77%;
        margin: 0 auto;
      }
      .message-text {
        margin-top: 30px;
        font-size: $font-size-25;
        line-height: 1.5;
      }
    }
    &-title {
      margin: 80px 0 20px;
      font-size: $font-size-40;
    }
  }
  .points {
    &-container {
      flex-direction: column;
    }
    &-content {
      width: 100%;
      &-title {
        font-size: $font-size-30;
      }
    }
  }
  
  // ーーーーーーーーーーーーーーーーーーーーーー
  // 開発の流れ
  // ーーーーーーーーーーーーーーーーーーーーーー
  .flow {
    padding: 20px 0;
    margin: 80px 0;
    .title {
      margin: 20px 0;
      font-size: $font-size-40;
    }
    &-image-container {
      height: 200px;
      margin-top: 30px;
    }
  }
}