@import "reset.scss";
@import "base.scss";
@import "variable.scss";
@import "header.scss";
@import "footer.scss";
@import "utility.scss";
@import "mixin.scss";


.top-slide {
  @include top-slide-layout("../../img/top-slide1.jpeg");
  @include position-num(relative, -160px, 0);
  width: 100%;
  height: 1070px;
  z-index: -20;
}

.catch-phrase {
  @include position(absolute);
  bottom: 0;
  right: 0;
  display: inline-block;
  padding: 50px 90px;
  &-container {
    div {
      display: inline-block;
      padding: 20px;
      margin-bottom: 10px;
      font-size: $font-size-60;
      color: $font-color-white;
      background: $bgclr-orange;
    }
  }
}

// ーーーーーーーーーーーーーーーーーーーーー
// わたしたちに出来ること
// ーーーーーーーーーーーーーーーーーーーーー
.service {
  width: 90%;
  height: 1360px;
  padding: 100px 0;
  margin: -160px auto 10px;
  &-container {
    height: 500px;
    display: flex;
    flex-direction: row-reverse;
    &:nth-child(2) {
      flex-direction: row; 
    }
  }
  &-image {
    width: 50%;
    height: 100%;
  }
  &-text {
    width: 50%;
    height: 100%;
    padding: 90px 70px;
    background: $bgclr-beige;
    &-container {
      width: 100%;
      border: 1px solid #fff;
      padding: 40px;
    }
  }
  p {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: $font-size-25;
  }
}

.service-image-first {
  @include top-slide-layout("../../img/what-we-can1.jpeg");
}

.service-image-second {
  @include top-slide-layout("../../img/what-we-can2.jpeg");  
}

// ーーーーーーーーーーーーーーーーーー
// 商品一覧
// ーーーーーーーーーーーーーーーーーー
.item {
  width: 90%;
  height: 1470px;
  padding: 100px 0;
  margin: 0 auto 100px;
  text-align: center;
  background: $bgclr-ivory;
  &-container {
    height: 815px;
    display: flex;
  }
  &-group {
    width: 35%;
    height: 815px;
    text-align: center;
    transition: .5s;
    &:hover {
      opacity: 0.6;
      transition: .5s;
    }
    a {
      width: 100%;
      height: 815px;
      padding-bottom: 200px;
      margin: 0;
    }
    p {
      margin-top: 500px;
      font-size: $font-size-40;
      color: $font-color-white;
    }
    &-first {
      @include top-slide-layout("../../img/top-slide2.jpeg");  
    }
    &-second {
      @include top-slide-layout("../../img/items-image2.jpeg");  
    }
    &-third {
      @include top-slide-layout("../../img/items-image3.jpeg");  
    }
  }

}

// ーーーーーーーーーーーーーーーーーーーーーー
// お問い合わせはこちらから
// ーーーーーーーーーーーーーーーーーーーーーー
.contact {
  height: 550px;
  padding: 100px 0;
  background: $bgclr-orange;
  text-align: center;
  p {
    font-size: $font-size-60;
    color: $font-color-white;
  }
}

// ーーーーーーーーーーーーーーーーーーーーーーーー
// 新着情報
// ーーーーーーーーーーーーーーーーーーーーーーーー
.news {
  width: 90%;
  height: 1150px;
  padding: 100px 0;
  margin: 100px auto 120px;
  background: $bgclr-beige;
  text-align: center;
  &-contents {
    width: 80%;
    margin: 0 auto;
    font-size: $font-size-40;
    dt {
      border-bottom: 3px solid $font-color-base;
      padding: 10px 50px 60px;
      margin-top: 80px;
      float: left;
      cursor: pointer;
    }
    dl {
      border-bottom: 3px solid $font-color-base;
      padding: 10px 0 60px;
      margin-left: 150px;
      margin-top: 80px;
      text-align: left;
      cursor: pointer;
    }
  }
}