@import "base/*.scss";
@import "mixin/*.scss";
@import "module/*.scss";
@import "setting/*.scss";


.top-slide {
  @include top-slide-layout("../../img/top-slide1.jpeg");
  @include position-num(relative, -160px, 0);
  width: 100%;
  height: 1070px;
  z-index: -20;
}

.catch-phrase {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  padding: 50px 90px;
  &-container {
    div {
      display: inline-block;
      padding: 20px;
      margin-bottom: 10px;
      font-size: $font-size-60;
      color: $font-color-white;
      background: $bgclr-orange;
    }
  }
}

// ーーーーーーーーーーーーーーーーーーーーー
// わたしたちに出来ること
// ーーーーーーーーーーーーーーーーーーーーー
.service {
  width: 90%;
  height: 1360px;
  padding: 100px 0;
  margin: -160px auto 10px;
  &-container {
    height: 500px;
    &-second {
      flex-direction: row-reverse;
    }
  }
  &-image {
    width: 50%;
    height: 100%;
  }
  &-text {
    width: 50%;
    height: 100%;
    padding: 90px 70px;
    background: $bgclr-beige;
    &-container {
      width: 100%;
      border: 1px solid #fff;
      padding: 40px;
    }
  }
  p {
    font-size: $font-size-25;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .button-small {
    float: right;
  }
  .clear {
    clear: both;
  }
}

.service-image-first {
  @include top-slide-layout("../../img/what-we-can1.jpeg");
}

.service-image-second {
  @include top-slide-layout("../../img/what-we-can2.jpeg");  
}

// ーーーーーーーーーーーーーーーーーー
// 商品一覧
// ーーーーーーーーーーーーーーーーーー
.item {
  width: 90%;
  height: 1470px;
  padding: 100px 0;
  margin: 0 auto 100px;
  text-align: center;
  background: $bgclr-ivory;
  &-container {
    height: 815px;
  }
  &-group {
    width: 35%;
    height: 815px;
    text-align: center;
    transition: .5s;
    &:hover {
      opacity: 0.6;
      transition: .5s;
    }
    a {
      width: 100%;
      height: 815px;
      padding-bottom: 200px;
      margin: 0;
    }
    &-category{
      margin-top: 500px;
      font-size: $font-size-40;
      color: $font-color-white;
    }
    &-first {
      @include top-slide-layout("../../img/top-slide2.jpeg");  
    }
    &-second {
      @include top-slide-layout("../../img/items-image2.jpeg");  
    }
    &-third {
      @include top-slide-layout("../../img/items-image3.jpeg");  
    }
  }

}

// ーーーーーーーーーーーーーーーーーーーーーーーー
// 新着情報
// ーーーーーーーーーーーーーーーーーーーーーーーー
.news {
  width: 90%;
  height: 1150px;
  padding: 100px 0;
  margin: 100px auto 120px;
  background: $bgclr-beige;
  text-align: center;
  &-contents {
    width: 80%;
    margin: 0 auto;
    font-size: $font-size-40;
    .flex {
      width: 100%;
    }
    dt, dl {
      border-bottom: 3px solid $font-color-base;
      padding: 10px 50px 60px;
      margin-top: 80px;
      cursor: pointer;
    }
    dt {
      width: 20%;
    }
    dl {
      width: 80%;
      text-align: left;
    }
  }
}


// ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
// レスポンシブ
// ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
@media (max-width: 1024px) {
  // ーーーーーーーーーーーーーーーーーーーーーー
  // わたしたちにできること
  // ーーーーーーーーーーーーーーーーーーーーーー
  .service {
    height: 1100px;
    padding: 50px 0;
    &-container {
      height: 400px;
    }
    &-text {
      padding: 45px 35px;
    }
  }

  // ーーーーーーーーーーーーーーーーーーーーー
  // 商品一覧
  // ーーーーーーーーーーーーーーーーーーーーー
  .item {
    height: 1100px;
    padding: 50px 0;
    margin: 0 auto 50px;
    &-container {
      height: 600px;
    }
    &-group {
      height: 100%;
      a {
        height: 100%;
      }
      &-category{
        margin-top: 400px;
      }
    }
  }

  // ーーーーーーーーーーーーーーーーーーーーーーーー
  // 新着情報
  // ーーーーーーーーーーーーーーーーーーーーーーーー
  .news {
    height: 900px;
    padding: 50px 0;
    margin: 50px auto 100px;
    &-contents {
      dt, dl {
        padding: 10px 35px 45px;
        margin-top: 50px;
      }
    }
  }
}

@media (max-width: 540px) {
  .top-slide {
    height: 400px;
  }
  .catch-phrase {
    padding: 20px 40px;
    &-container {
      div {
        padding: 5px;
        font-size: $font-size-40;
      }
    }
  }
  // ーーーーーーーーーーーーーーーーーーーーーー
  // わたしたちにできること
  // ーーーーーーーーーーーーーーーーーーーーーー
  .service {
    height: 1600px;
    padding: 50px 0;
    margin-bottom: 50px;
    &-container {
      height: 700px;
      margin-bottom: 30px;
      flex-direction: column;
    }
    &-image {
      width: 100%;
      height: 100%;
    }
    &-text {
      width: 100%;
      height: 80%;
      padding: 40px 20px;
      &-container {
        padding: 20px;
        h2 {
          font-size: $font-size-30;
        }
        p {
          font-size: $font-size-25;
        }
      }
    }
  }

  // ーーーーーーーーーーーーーーーーーーーーー
  // 商品一覧
  // ーーーーーーーーーーーーーーーーーーーーー
  .item {
    height: 900px;
    padding: 50px 0;
    &-container {
      height: 600px;
      flex-direction: column;
    }
    &-group {
      width: 100%;
      height: 33%;
      a {
        width: 100%;
        height: 100%;
        padding-bottom: 0;
      }
      &-category{
        margin-top: 60px;
      }
    }
  }

  // ーーーーーーーーーーーーーーーーーーーーーーーー
  // 新着情報
  // ーーーーーーーーーーーーーーーーーーーーーーーー
  .news {
    height: 550px;
    padding: 50px 0;
    margin: 50px auto 100px;
    &-contents {
      font-size: $font-size-25;
      dt, dl {
        padding: 5px 15px 20px;
        margin-top: 30px;
      }
    }
  }
}